<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--
    不用注解的时候，class要配置 否则找不到对应的类，或者使用注解，不再需要配置文件，但是要配置自动扫描注解component-scan
     -->
<!--    <bean id="helloService" lazy-init="false" class="com.yy.spring.service.HelloServiceImpl"/>-->
    <import resource="classpath*:rabbitMQ.xml" />
    <context:component-scan base-package="com.yy.spring.rabbit.*"/>
<!--    <context:annotation-config></context:annotation-config>-->
<!--    <context:spring-configured></context:spring-configured>-->
</beans>